{% extends "base.html" %}

{% load static %}

{% block title %}
План питания на неделю, меню, рецепты, список покупок. Классическое меню, безуглеводное меню
{% endblock title %}
{% block menu %}
{% if not subscription.status %}
<form action="{% url 'order' %}">
    <button class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">Выбрать подписку </button>
</form>
{% else %}
<form action="{% url 'menu' %}">
    <button class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">Посмотреть меню </button>
</form>
{% endif %}
<form action="{% url 'logout' %}">
    <button class="btn btn-outline-success shadow-none foodplan_green foodplan__border_green">Выйти</button>
</form>
{% endblock menu %}
{% block content %}
    <main style="margin-top: calc(2rem + 85px);">
        <section>
            <div class="container">
                <div class="row">
                    <div class="card col-12 p-3 mb-5 foodplan__shadow">
                        <h4 class="foodplan__backButton">
                            <strong><small><a href="#" class="link-secondary fw-light"></a></small></strong>
                        </h4>
                        <h2 class="text-center"><strong>Личный кабинет</strong></h2>
                    </div>
                    
                    <div class="card col-12 col-md-2 p-3 mb-3 d-flex flex-column align-items-center foodplan__shadow">
                        <div class="position-relative">
                            <img src="{% static 'img/test_avatar.png' %}" alt="" width="100" height="100" class="rounded-pill">
                            <span class="badge rounded-circle position-absolute bottom-0 end-0 foodplan__bg_green avatar__plus"><a href="#"
                                    class="link-dark text-decoration-none align-middle">+</a></span>
                        </div>
                        <h3 class="card-title text-center">{{ user.get_username }}</h3>
                        <div class="d-block">
                            <form action="{% url 'logout' %}">
                                <button class="btn btn-outline-success shadow-none foodplan_green foodplan__border_green">Выйти</button>
                            </form>
                        </div>
                    </div>
                    <div class="card col-12 col-md-10 p-3 mb-3 foodplan__shadow">
                        <ul class="nav nav-tabs">
                            <li class="nav-item foodplan__tab-item">
                                <button id="tab2" class="btn shadow-none foodplan__tab-button" data-bs-toggle="tab" data-bs-target="#menu">Подписка</button>
                            </li>
                            <li class="nav-item foodplan__tab-item flex-grow-1"></li>
                        </ul>
                        <div class="tab-content mt-2">
                            <div class="tab-pane fade show active" id="menu">
                                <div class="row">
                                    <div class="col-2">
                                        <img src="{% static 'img/circle1.png' %}" alt="" class="w-100">
                                    </div>
                                    {% if subscription.status %}
                                    <div class="col-10 col-md-10">
                                        <div class="row">
                                            <div class="col-12">
                                                <h2>Подписка {{ subscription.name }}</h2>
                                            </div>
                                            <div class="col-md-12 col-lg-9">
                                                <h6>Ваша подписка оформлена! Получайте новые блюда каждый день </h6>
                                                <form method="post" action="{% url 'profile' %}">
                                                    {% csrf_token %}
                                                    <button type="submit" name="delete_sub" value="1" class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">Отменить подписку</button>
                                                </form>
                                            </div>
                                            <div class="col-md-12 col-lg-3 text-muted d-flex flex-column justify-content-between">
                                                <div class="d-flex flex-row justify-content-between">
                                                    <small>Персоны: </small><small>{{ subscription.dishes }}</small>
                                                </div>
                                                <div class="d-flex flex-row justify-content-between">
                                                    <small>Аллергии: </small>
                                                </div>
                                                {% for allergen in subscription.allergens %}
                                                <div class="d-flex flex-row justify-content-between">
                                                    <small>{{ allergen }}</small>
                                                </div>
                                                {% endfor %}
                                                <div class="d-flex flex-row justify-content-between">
                                                    <small>Завтрак</small>
                                                    {% if subscription.breakfast %}
                                                    <small>Да</small>
                                                    {% else %}
                                                    <small>Нет</small>
                                                    {% endif %}
                                                </div>
                                                <div class="d-flex flex-row justify-content-between">
                                                    <small>Обед</small>
                                                    {% if subscription.dinner %}
                                                    <small>Да</small>
                                                    {% else %}
                                                    <small>Нет</small>
                                                    {% endif %}
                                                </div>
                                                <div class="d-flex flex-row justify-content-between">
                                                    <small>Ужин</small>
                                                    {% if subscription.supper %}
                                                    <small>Да</small>
                                                    {% else %}
                                                    <small>Нет</small>
                                                    {% endif %}
                                                </div>
                                                <div class="d-flex flex-row justify-content-between">
                                                    <small>Десерт</small>
                                                    {% if subscription.desert %}
                                                    <small>Да</small>
                                                    {% else %}
                                                    <small>Нет</small>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="col-10 col-md-10">
                                        <div class="row">
                                            <div class="col-12">
                                                <h2>Оформите подписку</h2>
                                                <div class="col-md-12 col-lg-9">
                                                    <form action="{% url 'order' %}">
                                                        <button class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">Оформить подписку</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}