{% extends "base.html" %}

{% load static %}

{% block title %}
План питания на неделю, меню, рецепты, список покупок. Классическое меню, безуглеводное меню
{% endblock title %}
{% block menu %}
<h3 class="text-secondary mt-2 me-2">Стоимость: 00000₽</h3>
    <button form="order" type="submit" class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">Оплатить</button>
<form action="{% url 'profile' %}">
    <button class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">Личный кабинет</button>
</form>
<form action="{% url 'logout' %}">
    <button class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">Выйти</button>
</form>

{% endblock menu %}
{% block content %}
    <main style="margin-top: calc(2rem + 85px);">
        <section>
            <div class="container">
                <h1><strong class="foodplan_green">1 шаг </strong>до первого меню</h1>
                <h5 class="text-secondary mb-3">Вам будет доступно 4 типа меню: Классическое, Низкоуглеводное, Вегетарианское и Кето.</h5>
                <div class="row mb-5">
                    <div class="col-6 col-md-3">

                        <label for="classic" class="position-relative" style="cursor: pointer;">
                            <img src="{% static 'img/menu_classical.png' %}" alt="" class="w-100">
                            <input form="order" type="radio" name="foodtype" id="classic" value="classic" class="foodplan_selected d-none">
                            <div class="img_selected" id="img1"></div>
                        </label>
                    </div>
                    <div class="col-6 col-md-3">

                        <label for="low" class="position-relative" style="cursor: pointer;">
                            <img src="{% static 'img/menu_nizkougl.png' %}" alt="" class="w-100">
                            <input form="order" type="radio" name="foodtype" id="low" value="low" class="foodplan_selected d-none">
                            <div class="img_selected" id="img2"></div>
                        </label>
                    </div>
                    <div class="col-6 col-md-3">

                        <label for="veg" class="position-relative" style="cursor: pointer;">
                            <img src="{% static 'img/menu_veg.png' %}" alt="" class="w-100">
                            <input form="order" type="radio" name="foodtype" id="veg" value="veg" class="foodplan_selected d-none">
                            <div class="img_selected" id="img3"></div>
                        </label>
                    </div>
                    <div class="col-6 col-md-3">

                        <label for="keto" class="position-relative" style="cursor: pointer;">
                            <img src="{% static 'img/menu_keto.png' %}" alt="" class="w-100">
                            <input form="order" type="radio" name="foodtype" id="keto" value="keto" class="foodplan_selected d-none">
                            <div class="img_selected" id="img4"></div>
                        </label>
                    </div>
                </div>
                <h2><strong>Выберите подходящий тариф</strong></h2>
                <form method="post" id="order">
                    {% csrf_token %}
                <table class="table text-center text-truncate mb-5">
                    <tbody>
                        <tr>
                            <th scope="row" class="text-start">Срок</th>
                            <td>
                                <select name="term" class="form-select">
                                    {% for term in subscription_options.terms %}
                                    <option value="{{ term }}" selected>{{ term }} мес.</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Тип меню</th>
                            <td>
                                <select name="menu_type" class="form-select">
                                    {% for type in subscription_options.menu_types %}
                                    <option value="{{ type.0 }}" selected>{{ type.0 }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Завтраки</th>
                            <td>
                                <select name="breakfast" class="form-select">
                                    <option value="1" selected>&#10004;</option>
                                    <option value="0">&#10008;</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Обеды</th>
                            <td>
                                <select name="dinner" class="form-select">
                                    <option value="1" selected>&#10004;</option>
                                    <option value="0">&#10008;</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Ужины</th>
                            <td>
                                <select name="supper" class="form-select">
                                    <option value="1" selected>&#10004;</option>
                                    <option value="0">&#10008;</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Десерты</th>
                            <td>
                                <select name="desert" class="form-select">
                                    <option value="1" selected>&#10004;</option>
                                    <option value="0">&#10008;</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Кол-во персон</th>
                            <td>
                                <select name="dishes" class="form-select">
                                    <option value="1" selected>1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-start">Аллергии</th>
                            <td>
                                {% for allergen in subscription_options.allergens %}
                                <div class="form-check d-flex justify-content-start">
                                    <input class="form-check-input me-1 foodplan_checked-green" type="checkbox" value="{{ allergen.1 }}" name="allergies">
                                    <label class="form-check-label" for="allergies">
                                        {{ allergen.0 }}
                                    </label>
                                </div>
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input type="hidden" name="next" value="{{ request.path }}">
                <button type="submit" id="TableSubmit" class="d-none"></button>
                </form>

                <form class="card d-flex flex-row align-items-baseline mb-5 p-3 foodplan__bg_grey">
                    <label for="exampleInputPassword1" class="form-label me-2">Промокод</label>
                    <input type="password" class="form-control me-2" id="password">
                    <button type="submit" class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green">Применить</button>
                </form>
                <div class="d-flex justify-content-center my-5">
                    <button form="order" type="submit" class="btn shadow-none btn-outline-success foodplan_green foodplan__border_green w-50">Оплатить</button>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}